body{
	background-color: #F3C95D;
}

#backTitlePic{
	background-image: url("lunch3.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	height:300px;
	width:100%;
	padding: 20px;
}

.title{
	height:50%;
	width:50%;
	text-align: center; 
	margin: 0 auto;
	position: relative;
	padding:50px;
}

#createEvent{
	display:none;
}

#viewEvent{
	display:none;
}

#setup{
	display:none;
}

/*view Event page */
h1, h2, h5{
	font-family: 'Montserrat', sans-serif;
}

h1 {
	text-align: center;
}

.row.content {
	height: 1500px
}

@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}

.col-sm-6 {
	text-align: center;
	margin:auto;
	padding-bottom: 10px;
}

.col-sm-12 {text-align: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: #026670; font-family: 'Montserrat', sans-serif;
}

.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #F3C95D;
}


/*setup css*/
h1 {
	margin-top: 15px;
	text-align: center;
}

#userInput {
	background-color: #EAC67A;
	font-size: 25px;
	width: 570px;
	margin-top: 20px;
	border: 1px solid black;
	border-right: none;
	border-left: none;
	border-top: none;
}

span {
	position: absolute;
	margin-left: 275px;
	margin-top: 23px;
	font-size: 29px;

}

span:focus {
	outline-width: 0;
}

span:hover {
	opacity: .75px;
}

input:focus {
	outline-width: 0;
}

#userInput:hover {
	border: 2px black solid;
	border-top: none;
	border-left: none;
	border-right: none;
}

#input-div{
	background-color: #EAC67A;
	display: flex;
  	flex-flow: column wrap;
    align-items: center;
    border: 2px black solid;
    border-bottom: none;
    width: 650px;
    margin:auto;
}

#list-div {
	background-color: #EAC67A;
	width: 650px;
	margin:auto;
	border: 2px black solid;
	border-top: none;
}

ul {
	font-size: 25px;
	list-style-type: none;
	height: 280px;
	width: 650px;
	margin: auto;
	margin-top: 0;
    padding-top: 16px;
    border-top: none;
}

#submit-button {
  	margin-left: 280px;
  	margin-bottom: 20px;
}

.container {
	margin: auto;
	margin-top: 10px;
}
